{% extends 'recipe/base.html' %}

    {% block content %}


        <h2> Détails de la recette </h2>


        <div class="container">
            <div class="row">


                <div class = "col-sm">

                    
                    <table class="table table-striped table-secondary">
                        <thead>

                            <tr> <h2> Nutrition FACTS </h2> </tr>
                            <tr>
                                <th scope="col"> Valeur nutritionnelle </th>
                                <th scope="col"> 100g </th>
                                <th scope="col"> 1 Biscuit </th>
                                <th scope="col"> % GDA ** / biscuit </th>



            
                            </tr>
                
                        </thead>
                        <tbody>  
                            
                            <tr> 
                                <td> Valeur énergétique </td>         

                                <td> {{total_calorie_kcal}} kcal
                                     {{total_calorie}} kJ
                                </td> 

                                <td> 
                                    {{total_calorie_kcal_bis}} kcal
                                    {{total_calorie_bis}} kJ
                                </td>   
                                  
                                <td> 
                                    {{total_calorie_kcal_gda}} %
                                    {{total_calorie_gda}} %   
                                </td>     
                            </tr>
                            
                            <tr> 
                                <td> Protéines </td>         

                                <td> {{total_protein_bis}} g
                                </td> 

                                <td> {{total_protein}} g </td>   
                                  
                                <td> {{total_protein_gda}} %  </td>     
                            </tr>

                            
                            <tr> 
                                <td> 
                                    Glucides
                                    dont sucres
                                </td>         

                                <td> 
                                    {{total_glucide}} g
                                    {{total_sucres}} g                                  
                                </td> 

                                <td> 
                                    {{total_glucide_bis}} g
                                    {{total_sucres_bis}} g                                  
                                </td>   
                                  
                                <td> 
                                    {{total_glucide_gda}} %
                                    {{total_sucres_gda}} %   
                                </td>     
                            </tr>

                            
                            <tr> 
                                <td> 
                                    Lipides 
                                    dont saturés
                                </td>         

                                <td> 
                                    {{total_lipide}} g
                                    {{total_AGsatures}} g
                                </td> 

                                <td> 
                                    {{total_lipide_bis}} g
                                    {{total_AGsatures_bis}} g
                                </td>   
                                  
                                <td> 
                                    {{total_lipide_gda}}  %
                                    {{total_AGsatures_gda}} %
                                </td>     
                            </tr>

                                                        
                            <tr> 
                                <td> Fibres alimentaires </td>         

                                <td> {{total_fibre}} g
                                </td> 

                                <td> {{total_fibre_bis}} g </td>   
                                  
                                <td> {{total_fibre_gda}} %  </td>     
                            </tr>
                            
                            <tr> 
                                <td> Sodium </td>         

                                <td> {{total_sodium}} g
                                </td> 

                                <td> {{total_sodium_bis}} g </td>   
                                  
                                <td> {{total_sodium_gda}} % </td>     
                            </tr>



                        </tbody>
                    </table>

                </div>




                <div class = "col-sm">
                    
                    <table class="table table-striped table-secondary">
                        <thead>
                            <tr> <h2> Tableau nutritionnel </h2> </tr>
                
                        </thead>
                        <tbody>             
                            <tr>
                                <th scope="col"> Calories kj </th>   
                                <td> {{total_calorie}} </td>     
                            </tr>
                            <tr>
                                <th scope="col"> Calories kcal </th>   
                                <td> {{total_calorie_kcal}} </td>     
                            </tr>
                            <tr>
                                <th scope="col"> Glucide </th>   
                                <td> {{total_glucide}} </td>     
                            </tr>

                            
                            <tr>
                                <th scope="col"> sodium </th>   
                                <td> {{total_sodium}} </td>     
                            </tr>


                            <tr>
                                <th scope="col"> Proteins </th>   
                                <td> {{total_protein}} </td>     
                            </tr>

                            <tr>
                                <th scope="col">Fibres  </th>   
                                <td> {{total_fibre}} </td>     
                            </tr>
                            

                            <tr>
                                <th scope="col"> Eau  </th>   
                                <td> {{total_eau}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> Lipides </th>   
                                <td> {{total_lipide}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> Sucres </th>   
                                <td> {{total_sucres}} </td>     
                            </tr>



                            <tr>
                                <th scope="col"> total_fructose  </th>   
                                <td> {{total_fructose}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_galactose </th>   
                                <td> {{total_galactose}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_glucose </th>   
                                <td> {{total_glucose}} </td>     
                            </tr>
                            <tr>
                                <th scope="col"> total_maltose  </th>   
                                <td> {{total_maltose}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_saccharose </th>   
                                <td> {{total_saccharose}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_amidon </th>   
                                <td> {{total_amidon}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_fibresAlimentaires </th>   
                                <td> {{total_fibresAlimentaires}} </td>     
                            </tr>


                            <tr>
                                <th scope="col"> total_polyols  </th>   
                                <td> {{total_polyols}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_alcool </th>   
                                <td> {{total_alcool}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_acidesOrganiques </th>   
                                <td> {{total_acidesOrganiques}} </td>     
                            </tr>



                            <tr>
                                <th scope="col"> total_AGsatures  </th>   
                                <td> {{total_AGsatures}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_AGmonoinsature </th>   
                                <td> {{total_AGmonoinsature}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_AGpolyinsature </th>   
                                <td> {{total_AGpolyinsature}} </td>     
                            </tr>
                            <tr>
                                <th scope="col"> total_AGbutyrique  </th>   
                                <td> {{total_AGbutyrique}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_AGcaproique </th>   
                                <td> {{total_AGcaprylique}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_AGcaprylique </th>   
                                <td> {{total_AGcaprylique}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_AGlaurique  </th>   
                                <td> {{total_AGlaurique}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_AGbutyrique </th>   
                                <td> {{total_AGbutyrique}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_AGpalmitique </th>   
                                <td> {{total_AGpalmitique}} </td>     
                            </tr>



                            <tr>
                                <th scope="col"> total_AGbstearique </th>   
                                <td> {{total_AGbstearique}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_AGlinoleique </th>   
                                <td> {{total_AGlinoleique}} </td>     
                            </tr>


                            <tr>
                                <th scope="col"> total_AGalphalinolenique </th>   
                                <td> {{total_AGalphalinolenique}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_AGepa </th>   
                                <td> {{total_AGepa}} </td>     
                            </tr>
                            <tr>
                                <th scope="col"> total_AGdha </th>   
                                <td> {{total_AGdha}} </td>     
                            </tr>


                            <tr>
                                <th scope="col"> total_cholesterol </th>   
                                <td> {{total_cholesterol}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_selchlorure </th>   
                                <td> {{total_selchlorure}} </td>     
                            </tr>
                            <tr>
                                <th scope="col"> total_calcium </th>   
                                <td> {{total_calcium}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_cuivre </th>   
                                <td> {{total_cuivre}} </td>     
                            </tr>

                            <th scope="col"> Fer  </th>   
                                <td> {{total_fer}} </td>     
                            </tr>

                            </tr>
                                <th scope="col"> Iode  </th>   
                                <td> {{total_iode}} </td>     
                            </tr>

                            <th scope="col"> total_magnesium  </th>   
                                <td> {{total_magnesium}} </td>     
                            </tr>

                            </tr>
                                <th scope="col"> total_manganese  </th>   
                                <td> {{total_manganese}} </td>     
                            </tr>

                            </tr>
                                <th scope="col"> total_phosphore  </th>   
                                <td> {{total_phosphore}} </td>     
                            </tr>

                            </tr>
                                <th scope="col"> total_potassium  </th>   
                                <td> {{total_potassium}} </td>     
                            </tr>


                            <tr>
                                <th scope="col"> Selenium  </th>   
                                <td> {{total_selenium}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_zinc  </th>   
                                <td> {{total_zinc}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_retinol  </th>   
                                <td> {{total_retinol}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> Vitamine E </th>   
                                <td> {{total_vitamineE}} </td>     
                            </tr>


                            <tr>
                                <th scope="col"> Vitamine K1 </th>   
                                <td> {{total_VitamineK1}} </td>     
                            </tr>
                            <tr>
                                <th scope="col">Vitamine K2  </th>   
                                <td> {{total_vitamineK2}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> Vitamine B1  </th>   
                                <td> {{total_vitamineB1}} </td>     
                            </tr>

                            <tr>
                                <th scope="col">Vitamine B2  </th>   
                                <td> {{total_vitamineB2}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> Vitamine B3  </th>   
                                <td> {{total_vitamineB3}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> Vitamine B5  </th>   
                                <td> {{total_VitamineB5}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> Vitamine B9  </th>   
                                <td> {{total_VitamineB9}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> Vitamine B12  </th>   
                                <td> {{total_VitamineB12}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_sels_ajoutes B9  </th>   
                                <td> {{total_sels_ajoutes}} </td>     
                            </tr>

                            <tr>
                                <th scope="col"> total_sucres_ajoutes </th>   
                                <td> {{total_sucres_ajoutes}} </td>     
                            </tr>




                        </tbody>
                    </table>


                </div>


                <div class = "col-sm">

                    
                    <table class="table table-striped table-secondary">
                        <thead>
                            <tr> <h2> Allegations nutritionnelles </h2> </tr>

                        </thead>
                        <tbody>   

                        {% for alleg in allegation %}    
                            <tr>
                                <th scope="col">
                                    allegation {{forloop.counter}}
                                </th>   

                                <td> {{alleg}}</td> 
                                {% for alleg_val in allegation_valeurs %}    
                                {% if forloop.counter == forloop.parentloop.counter %}  
                                <td> {{alleg_val}}</td>   
                                {% endif %}
                                {% endfor %}


                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>

                </div>


                <div class = "col-sm">

                    
                    <table class="table table-striped table-secondary">
                        <thead>
                            <tr> <h2> Allegations minérales </h2> </tr>

                        </thead>
                        <tbody>   
                        {% for alleg in allegation_minerales %}    
                        <tr>
                            <th scope="col">
                                allegation {{forloop.counter}}
                            </th>   

                            <td> {{alleg}}</td> 
                            {% for alleg_val in allegation_minerales_valeurs %}    
                            {% if forloop.counter == forloop.parentloop.counter %}  
                            <td> {{alleg_val}}</td>   
                            {% endif %}
                            {% endfor %}


                        </tr>

                        {% endfor %}

                        </tbody>
                    </table>

                </div>

                <div class = "col-sm">

                    
                    <table class="table table-striped table-secondary">
                        <thead>
                            <tr> <h2> Allegations vitamines </h2> </tr>

                        </thead>
                        <tbody>   
                            {% for alleg in allegation_vitamine %}    
                            <tr>
                                <th scope="col">
                                    allegation {{forloop.counter}}
                                </th>   
    
                                <td> {{alleg}}</td> 
                                {% for alleg_val in allegation_vitamine_valeurs %}    
                                {% if forloop.counter == forloop.parentloop.counter %}  
                                <td> {{alleg_val}}</td>   
                                {% endif %}
                                {% endfor %}
    
    
                            </tr>
    
                            {% endfor %}
                        </tbody>
                    </table>

                </div>


                <div class = "col-sm">

                    
                    <table class="table table-striped table-secondary">
                        <thead>

                            <tr> <h2> Recapitulatif ingredients </h2> </tr>
                            <tr>
                                <th scope="col"> Nom </th>
                                <th scope="col"> Quantité </th>
                                <th scope="col"> Valeur énergétique (KJ/100g) </th>
                                <th scope="col"> Acide gras saturés (g/100g) </th>
                                <th scope="col"> Sucres (g/100g) </th>
                                <th scope="col"> Protéines (g/100g) </th>
                                <th scope="col"> Lipides (g/100g) </th>
                                <th scope="col"> Fibres AOAC (g/100g) </th>
                                <th scope="col"> fruits, légumineuses et matières grasses en g  </th>
                                <th scope="col">  </th>
                                <th scope="col"> % </th>
            
                            </tr>
                
                        </thead>
                        <tbody>  
                            
                        {% for ingredient in ingredients %}
                            <tr>
                                <th scope="col"> {{ingredient}} </th>   
                                <td> {{ingredient.quantity}} </td>     
                                <td> {{ingredient.ingredient.energie_kJ}} </td>     
                                <td> {{ingredient.ingredient.AGsatures}} </td>  
                                <td> {{ingredient.ingredient.glucide}} </td>     
                                <td> {{ingredient.ingredient.proteins}} </td>     
                                <td> {{ingredient.ingredient.lipide}} </td>     
                                <td> {{ingredient.ingredient.fibres}} </td>        
                                <td> {% if ingredient.ingredient.famille.name == 'matières grasses' or ingredient.ingredient.famille.name == 'fruits, légumes, légumineuses et oléagineux' %}
                                    {{ingredient.quantity}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </td>     

                                <td>
                                    {% for perc in perc_ingredients %}
                                    {% if forloop.counter == forloop.parentloop.counter %}  
                                    <td> {{perc}}</td>   
                                    {% endif %}
                                    {% endfor %}
                                </td>     
                            </tr>

                        {%endfor%}


                        </tbody>
                    </table>

                </div>



                <div class = "col-sm">

                    
                    <table class="table table-striped table-secondary">
                        <thead>

                            <tr> <h2> Totaux et scores </h2> </tr>
                            <tr>
                                <th scope="col"> Valeur énergétique (KJ/100g) </th>
                                <th scope="col"> pts_kj </th>
                                <th scope="col"> Acide gras saturés (g/100g) </th>
                                <th scope="col"> pts_ags </th>
                                <th scope="col"> Sucres (g/100g) </th>
                                <th scope="col"> pts_glus </th>
                                <th scope="col"> Protéines (g/100g) </th>
                                <th scope="col"> pts_prot </th>
                                <th scope="col"> Fibres (g/100g) </th>
                                <th scope="col"> pts_fibres </th>
                                <th scope="col"> Fruits, légumineuses et matières grasses (%100g) </th>
                                <th scope="col"> pts_fln </th>
                                <th scope="col"> Sodium (mg/100g) </th>
                                <th scope="col"> pts_na </th>
                                <th scope="col"> score A </th>
                                <th scope="col"> Nutriscore </th>


            
                            </tr>
                
                        </thead>
                        <tbody>  
                            
                            <tr> 
                                <td> {{total_calorie}} </td>     
                                <td> {{Score_kj}} </td>     

                                <td> {{total_AGsatures}} </td>  
                                <td> {{score_AGsatures}} </td>

                                <td> {{total_sucres}} </td>   
                                <td> {{Score_glucide}} </td> 
                                  
                                <td> {{total_protein}} </td>   
                                <td> {{score_protein}} </td>   

                                <td> {{total_fibre}} </td>     
                                <td> {{score_fibre}} </td>     

                                <td> {{total_fln}} </td>     
                                <td> {{score_fln}} </td>     

                                <td> {{total_sodium}} </td>     
                                <td> {{Score_sodium}} </td>     

                                <td> {{score_A}} </td>     
                                <td> 
                                    <div style = 'background-color:{{couleur}}; padding:0%'> 
                                        {{nutriscore}} 
                                    </div>
                                </td>     
                                
                                
                                <td>
                                </td>     
                            </tr>


                        </tbody>
                    </table>

                </div>


                <div class = "col-sm">

                    
                    <table class="table table-striped table-secondary">
                        <thead>

                            <tr> <h2> Recapitulatif processus <h2/>  </tr>

                        </thead>
                        <tbody>  
                            
                            <tr>
                                <th scope="col"> <h4> Préparation <h4/> </th>                                 
                            </tr>
                        {% for step in process %}
                            <tr>
                                <th scope="col"> {{step.step}} </th>      
                            </tr>

                        {%endfor%}
                            
                        <tr>
                            <th scope="col"> <h4> Cuisson <h4/> </th>                                 
                        </tr>
                        {% for step in cooking %}
                            <tr>
                                <th scope="col"> {{step.step}} </th>      
                            </tr>

                        {%endfor%}


                        </tbody>
                    </table>

                </div>

                <div class = "col-sm-2">
                <table class="table table-striped table-secondary">                    


                    <div> <h2> Nutriscore  </h2> </div>
                    <div style = 'background-color:{{couleur}}; padding:0%'> 

                        {{nutriscore}} </div>

                </table>

                </div>
                
                

            </div>


        </div>



    {% endblock content%}