<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% if title %}
        <title>Django Recipes - {{title}}</title>
        {% else %}
        <title>Django Recipes</title>
        {% endif %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous">

        <style>
            body{
              background-color: white
            }
            table, th, td {
            
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 2px;
                padding-right: 2px;

                
                margin-top: 2px;
                margin-bottom: 10px;
                margin-left: 2px;
                margin-right: 2px;

                border: 1px solid black;
                border-collapse: collapse;
            }

            table caption { 
                padding-top: 0px;
                padding-bottom: 0px;
                padding-left: 0px;
                padding-right: 0px;

                padding: 00px;

            }   

        </style>

    </head>
<body bgcolor="white">
<!--
      
        <div class="card" style="width: 18rem;">
  
            <div class="card-body">
                <h5 class="card-title"> {{object.title}} </h5>
                <p class="card-text">{{object.description}}</p>

                <p class="card-text">total calorique en (kj par 100g) : {{total_calorie}}</p>
                <p class="card-text">total glucide en g/ 100g : {{total_glucide}}</p>
                <p class="card-text">total sodium en g/100g : {{total_sodium}}</p>
                <p class="card-text">Score calorie : {{Score_calorie}}</p>
                <p class="card-text"> Nutriscore : {{nutriscore}}</p>
                <p class="card-text"> Allegation : {{allegation}}</p>
                <p class="card-text"> Test Attribute : {{Attribut_test}}</p>


                <h6 class="card-subtitle mb-2 text-muted"> temps de cuisson : {{object.cook_time}} </h6>
                {%for ingredient in ingredients%}
                <br>
                <br>
                {%if ingredient.recipe == object %}
    
                    <p class="card-text">{{ingredient}}</p>
                    <p class="card-text">Quantite en (g): {{ingredient.quantity}}</p>
                    <p class="card-text">energie en (kj par 100g) : {{ingredient.ingredient.energie_kJ}}</p>
                    <p class="card-text">sodium en (g / 100g) : {{ingredient.ingredient.sodium}}</p>
                    <p class="card-text">glucides en (g / 100g) : {{ingredient.ingredient.glucides}}</p>
                    
                {% endif %}
                
                {%if ingredient.recipe == object %}
    
                    <p class="card-text">{{ingredient}}</p>
                    <p class="card-text">Quantite en (g): {{ingredient.quantity}}</p>
                    <p class="card-text">energie en (kj par 100g) : {{ingredient.ingredient.energie_kJ}}</p>
                    <p class="card-text">sodium en (g / 100g) : {{ingredient.ingredient.sodium}}</p>
                    <p class="card-text">glucides en (g / 100g) : {{ingredient.ingredient.glucides}}</p>
                    
                {% endif %}
    
                {% endfor %}
            </div>
            
        </div>
    
    -->

    <h2> Détails de la recettes </h2>
    <table id = 'Tableau nutritionnel' style="width:100%" class="table" bgcolor="rgba(255, 255, 255, 255)">
        <thead  bgcolor="white">
        <div bgcolor="white">
            <caption><h2>Tableau nutritionnel</h2></caption>

        </div>

        </thead>
        <tbody>             
            <tr>
                <th scope="col"> Calories </th>   
                <td> {{total_calorie}} </td>     
            </tr>
            <tr>
                <th scope="col"> Glucide </th>   
                <td> {{total_glucide}} </td>     
            </tr>

            
            <tr>
                <th scope="col"> sodium </th>   
                <td> {{total_sodium}} </td>     
            </tr>


            <tr>
                <th scope="col"> Proteins </th>   
                <td> {{total_protein}} </td>     
            </tr>

            <tr>
                <th scope="col">Fibres  </th>   
                <td> {{total_fibre}} </td>     
            </tr>
            

            <tr>
                <th scope="col"> Eau  </th>   
                <td> {{total_eau}} </td>     
            </tr>

            <tr>
                <th scope="col"> Lipides </th>   
                <td> {{total_lipide}} </td>     
            </tr>

            <tr>
                <th scope="col"> Sucres </th>   
                <td> {{total_sucres}} </td>     
            </tr>



            <tr>
                <th scope="col"> total_fructose  </th>   
                <td> {{total_fructose}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_galactose </th>   
                <td> {{total_galactose}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_glucose </th>   
                <td> {{total_glucose}} </td>     
            </tr>
            <tr>
                <th scope="col"> total_maltose  </th>   
                <td> {{total_maltose}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_saccharose </th>   
                <td> {{total_saccharose}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_amidon </th>   
                <td> {{total_amidon}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_fibresAlimentaires </th>   
                <td> {{total_fibresAlimentaires}} </td>     
            </tr>


            <tr>
                <th scope="col"> total_polyols  </th>   
                <td> {{total_polyols}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_alcool </th>   
                <td> {{total_alcool}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_acidesOrganiques </th>   
                <td> {{total_acidesOrganiques}} </td>     
            </tr>



            <tr>
                <th scope="col"> total_AGsatures  </th>   
                <td> {{total_AGsatures}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_AGmonoinsature </th>   
                <td> {{total_AGmonoinsature}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_AGpolyinsature </th>   
                <td> {{total_AGpolyinsature}} </td>     
            </tr>
            <tr>
                <th scope="col"> total_AGbutyrique  </th>   
                <td> {{total_AGbutyrique}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_AGcaproique </th>   
                <td> {{total_AGcaprylique}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_AGcaprylique </th>   
                <td> {{total_AGcaprylique}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_AGlaurique  </th>   
                <td> {{total_AGlaurique}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_AGbutyrique </th>   
                <td> {{total_AGbutyrique}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_AGpalmitique </th>   
                <td> {{total_AGpalmitique}} </td>     
            </tr>



            <tr>
                <th scope="col"> total_AGbstearique </th>   
                <td> {{total_AGbstearique}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_AGlinoleique </th>   
                <td> {{total_AGlinoleique}} </td>     
            </tr>


            <tr>
                <th scope="col"> total_AGalphalinolenique </th>   
                <td> {{total_AGalphalinolenique}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_AGepa </th>   
                <td> {{total_AGepa}} </td>     
            </tr>
            <tr>
                <th scope="col"> total_AGdha </th>   
                <td> {{total_AGdha}} </td>     
            </tr>


            <tr>
                <th scope="col"> total_cholesterol </th>   
                <td> {{total_cholesterol}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_selchlorure </th>   
                <td> {{total_selchlorure}} </td>     
            </tr>
            <tr>
                <th scope="col"> total_calcium </th>   
                <td> {{total_calcium}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_cuivre </th>   
                <td> {{total_cuivre}} </td>     
            </tr>

            <th scope="col"> Fer  </th>   
                <td> {{total_fer}} </td>     
            </tr>

            </tr>
                <th scope="col"> Iode  </th>   
                <td> {{total_iode}} </td>     
            </tr>

            <th scope="col"> total_magnesium  </th>   
                <td> {{total_magnesium}} </td>     
            </tr>

            </tr>
                <th scope="col"> total_manganese  </th>   
                <td> {{total_manganese}} </td>     
            </tr>

            </tr>
                <th scope="col"> total_phosphore  </th>   
                <td> {{total_phosphore}} </td>     
            </tr>

            </tr>
                <th scope="col"> total_potassium  </th>   
                <td> {{total_potassium}} </td>     
            </tr>


            <tr>
                <th scope="col"> Selenium  </th>   
                <td> {{total_selenium}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_zinc  </th>   
                <td> {{total_zinc}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_retinol  </th>   
                <td> {{total_retinol}} </td>     
            </tr>



            <tr>
                <th scope="col"> Vitamine K1 </th>   
                <td> {{total_VitamineK1}} </td>     
            </tr>
            <tr>
                <th scope="col">Vitamine K2  </th>   
                <td> {{total_vitamineK2}} </td>     
            </tr>
                <th scope="col"> Vitamine B1  </th>   
                <td> {{total_vitamineB1}} </td>     
            </tr>
            <tr>
                <th scope="col">Vitamine B2  </th>   
                <td> {{total_vitamineB2}} </td>     
            </tr>
                <th scope="col"> Vitamine B3  </th>   
                <td> {{total_vitamineB3}} </td>     
            </tr>
            <tr>
                <th scope="col"> Vitamine B5  </th>   
                <td> {{total_VitamineB5}} </td>     
            </tr>

            <tr>
                <th scope="col"> Vitamine B9  </th>   
                <td> {{total_VitamineB9}} </td>     
            </tr>

            <tr>
                <th scope="col"> Vitamine B12  </th>   
                <td> {{total_VitamineB12}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_sels_ajoutes B9  </th>   
                <td> {{total_sels_ajoutes}} </td>     
            </tr>

            <tr>
                <th scope="col"> total_sucres_ajoutes </th>   
                <td> {{total_sucres_ajoutes}} </td>     
            </tr>




        </tbody>
    </table>

        
        <table class="table" style="width:100%" ">
            <caption><h2>Allegations</h2></caption>

            <tbody>   
            {% with i=0 %}
            {% for alleg in allegation %}    

                <tr>
                    <th scope="col">
                        allegation {{forloop.counter}}
                    </th>   

                    <td> {{alleg}}</td>     
                </tr>

            {% endfor %}
            {% endwith %}
            </tbody>
        </table>

        
        <table class="table" style="width:100%" >
            <caption><h2>Allegations pour les minéraux</h2></caption>

            <tbody>   
            {% with i=0 %}
            {% for alleg in allegation_minerales %}    

                <tr>
                    <th scope="col">
                        allegation {{forloop.counter}}
                    </th>   

                    <td> {{alleg}}</td>     
                </tr>

            {% endfor %}
            {% endwith %}
            </tbody>
        </table>



        <table class="table" style="width:100%" >
            <caption><h2>Allegations vitamines</h2></caption>

            <tbody>   
            {% with i=0 %}
            {% for alleg in allegation_vitamine %}    

                <tr>
                    <th scope="col">
                        allegation {{forloop.counter}}
                    </th>   

                    <td> {{alleg}}</td>     
                </tr>

            {% endfor %}
            {% endwith %}
            </tbody>
        </table>




            <table class="table" style="width:100%">
                <thead>            
                    <caption><h2>Recapitulatif ingredients</h2> </caption>

                    <tr>
                        <th scope="col"> Nom </th>
                        <th scope="col"> Quantite </th>
                        <th scope="col"> % </th>
    
                    </tr>
        
                </thead>
                <tbody>  
                    
                {% for ingredient in ingredients %}
                    <tr>
                        <th scope="col"> {{ingredient}} </th>   
                        <td> {{ingredient.quantity}} </td>     
                        <td>
                        </td>     
                    </tr>

                {%endfor%}


                </tbody>
            </table>

                    
            <table class="table" style="width:100%">
                <thead>
                    <caption> <h2>Recapitulatif du processus </h2></caption>

                </thead>

    
                <tbody>  
                    
                {% for step in process %}
                    <tr>
                        <th> {{step.step}} </th>      
                    </tr>

                {%endfor%}


                </tbody>
            </table>


            <table class="table" style="width:100%" >
                <thead>
                    <caption> <h2>Nutriscore</h2> </caption>

                </thead>

    
                <tbody>  
                    

                <tr>
                    <th> {{nutriscore}} {{couleur}} </th>      
                </tr>



                </tbody>
            </table>






    </body>
    </html>